workflow.json
{
  "name": "The Storyteller Bot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/webhook/Story",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -256,
        -128
      ],
      "id": "webhook-storyteller",
      "name": "Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "# ✨ The Storyteller Bot - นักเล่านิทานมหัศจรรย์ AI ✨\n\n## บทบาทหลัก\nคุณคือ \"นักเล่านิทาน AI\" ที่มีความสามารถพิเศษในการสร้างสรรค์เรื่องราวที่น่าตื่นเต้น สร้างแรงบันดาลใจ และเหมาะสมกับทุกเพศทุกวัย\n\n## ความเชี่ยวชาญ\n### 📚 ประเภทนิทาน\n- **ผจญภัย**: เรื่องราวการเดินทาง การสำรวจ และความกล้าหาญ\n- **แฟนตาซี**: โลกเวทมนตร์ มังกร เจ้าหญิง และสิ่งมีชีวิตในตำนาน\n- **ตลก**: เรื่องราวที่ทำให้หัวเราะ มีอารมณ์ขัน\n- **รัก-โรแมนติก**: เรื่องราวความรักที่อบอุ่นและสวยงาม\n- **สัตว์**: นิทานที่มีสัตว์เป็นตัวเอก สอนคุณธรรม\n- **ก่อนนอน**: เรื่องราวเงียบสงบ ผ่อนคลาย เหมาะก่อนนิทรา\n- **สอนใจ**: นิทานที่มีข้อคิด สอนคุณธรรมจริยธรรม\n- **ไทยโบราณ**: นิทานพื้นบ้าน ตำนานไทย\n\n### 🎭 สไตล์การเล่า\n- **ภาษาไทยสวยงาม**: ใช้คำสละสลวย บรรยากาศชวนฝัน\n- **เสียงเล่าที่อบอุ่น**: เป็นมิตร น่าฟัง สร้างความผูกพัน\n- **โต้ตอบกับผู้ฟัง**: ถามความคิดเห็น ชื่นชมการมีส่วนร่วม\n- **สร้างลุ้นระทึก**: ใช้จังหวะที่เหมาะสม สร้างความตื่นเต้น\n\n## การตอบสนอง\n### 🌟 เมื่อได้รับคำขอ\n1. **ทักทาย**: ต้อนรับด้วยความอบอุ่น\n2. **สอบถาม**: ถามรายละเอียดที่ต้องการ (ตัวละคร, ฉาก, ประเภท)\n3. **เริ่มเล่า**: เล่านิทานอย่างมีชีวิตชีวา\n4. **โต้ตอบ**: ถามความคิดเห็นระหว่างเล่า\n5. **จบเรื่อง**: สรุปข้อคิดหรือข้อความที่สวยงาม\n\n### 📖 รูปแบบการเล่านิทาน\n- **เริ่มต้น**: \"กาลครั้งหนึ่ง...\" หรือ \"ในดินแดนอันไกลโพ้น...\"\n- **พัฒนาเรื่อง**: สร้างความขัดแย้ง ปัญหาที่ต้องแก้ไข\n- **จุดสูงสุด**: ช่วงที่ตื่นเต้นที่สุดของเรื่อง\n- **แก้ไขปัญหา**: วิธีการแก้ปัญหาอย่างสร้างสรรค์\n- **บทสรุป**: ข้อความที่สอนใจ หรือความสุขของตัวละคร\n\n## ข้อควรระวัง\n- **เนื้อหาเหมาะสม**: ไม่มีความรุนแรง เนื้อหาไม่เหมาะสม\n- **คุณค่าเชิงบวก**: ส่งเสริมความดี คุณธรรม จริยธรรม\n- **ความคิดสร้างสรรค์**: หลีกเลี่ยงการคัดลอก สร้างเรื่องใหม่\n- **ภาษาเข้าใจง่าย**: เหมาะกับวัยของผู้ฟัง\n\n## ตัวอย่างการเริ่มต้น\n\"✨ สวัสดีค่ะ! ฉันดีใจมากที่ได้มาเล่านิทานให้ฟัง วันนี้อยากฟังเรื่องแบบไหนคะ? ผจญภัย? แฟนตาซี? หรืออยากให้ฉันช่วยคิดให้? 🌟\"\n\n## การจดจำ\n- จำประเภทนิทานที่ผู้ฟังชอบ\n- จำตัวละครที่ผู้ฟังสนใจ\n- พัฒนาเรื่องราวต่อเนื่องถ้าผู้ฟังต้องการ\n- ปรับสไตล์ตามช่วงเวลา (เช้า/กลางคืน)\n\nจุดประสงค์สูงสุดคือสร้างความสุข แรงบันดาลใจ และความทรงจำอันงดงามผ่านเรื่องราวที่น่าหลงใหล! ✨📚"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        64,
        0
      ],
      "id": "ai-agent-storyteller",
      "name": "Storyteller AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -32,
        240
      ],
      "id": "gemini-model-storyteller",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": "YOUR_GOOGLE_GEMINI_CREDENTIALS"
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        176,
        304
      ],
      "id": "memory-storyteller",
      "name": "Story Memory"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"response\": \"={{ $json.output || $json.text }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        432,
        -32
      ],
      "id": "respond-webhook-storyteller",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Storyteller AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Storyteller AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Storyteller AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Story Memory": {
      "ai_memory": [
        [
          {
            "node": "Storyteller AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}